/*
 * layout.css
 * Style file for layout.html
 * layout.* are just for demo
 */

.danterest-shell-head, .danterest-shell-logo, .danterest-shell-acct,
.danterest-shell-search, .danterest-shell-menu, .danterest-shell-setting,
.danterest-shell-main, .danterest-shell-main-nav, .danterest-shell-main-content,
.danterest-chat, .danterest-shell-foot {
	position: absolute;
}

/* Begin shell-head */
.danterest-shell-head {
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	/* background-color is for debuging */
	background-color: gray;
}

.danterest-shell-logo {
	top: 4px;
	bottom:	4px;
	left: 10px;
	width: 40px;
	height: 40px;
	background-color: orange;
}

.danterest-shell-search {
	top: 4px;
	bottom:	4px;
	left: 50px;
	width: 500px;
	height: 40px;
	background-color: green;
}

.danterest-shell-menu {
	top: 4px;
	bottom:	4px;
	left: 510px;
	width: 40px;
	height: 40px;
	background-color: blue;
}

.danterest-shell-acct {
	top: 4px;
	bottom:	4px;
	right: 50px;
	width: 100px;
	height: 40px;
	background-color: orange;
}

.danterest-shell-setting {
	top: 4px;
	bottom:	4px;
	right: 10px;
	width: 40px;
	height: 40px;
	background-color: blue;
}
/* End shell-head */

/* Begin shell-main */
.danterest-shell-main {
	top: 50px;
	bottom:	40px;
	left: 0px;
	right: 0px;
}

.danterest-shell-main-content, .danterest-shell-main-nav {
	top: 0;
	bottom: 0;
}

.danterest-shell-main-nav {
	width: 100px;
	background-color: #eee;
}

.danterest-shell-main-content {
	left: 110px;
	right: 0px;
	background-color: #ddd;
}

.danterest-x-closed .danterest-shell-main-nav {
	width: 0px;
}

.danterest-x-closed .danterest-shell-main-content {
	left: 0px;
}
/* End shell-main */

/* Begin shell-chat */
.danterest-chat {
	position: absolute;
	bottom: 0px;
	height: 18em;
	right:	0px;
	width:	25em;
	background:	#fff;
	border-radius: 0.5em 0 0 0;
	border-style: solid;
	border-color: #888;
	box-shadow: 0 0 0.75em 0 #888;
	z-index:	1;
}

.danterest-chat-head, .danterest-chat-closer {
	position: absolute;
	top: 0;
	height: 2em;
	line-height: 1.8em;
	border-bottom: thin solid #888;
	cursor: pointer;
	background: #888;
	color: white;
	font-family: arial, helvetica, sans-serif;
	font-weight   : 800;
	text-align    : center;
}

.danterest-chat-head {
	left: 0;
	right: 2em;
	border-radius: 0.3em 0 0 0;
}

.danterest-chat-closer {
	right: 0;
	width: 2em;
}

.danterest-chat-head-toggle {
	position : absolute;
	top :0;
	left :0;
	width : 2em;
	bottom :0;
	border-radius : 0.3em 0 0 0;
}

.danterest-chat-head-title {
  position    : absolute;
  left        : 50%;
  width       : 16em;
  margin-left : -8em;
}

.danterest-chat-sizer {
	position: absolute;
	top: 2em;
	left: 0;
	right: 0;
	bottom: 0;
	border   : thin solid green;
}

.danterest-chat-msg {
	position: absolute;
	top: 1em;
	left: 1em;
	right: 1em;
	bottom: 4em;
	padding: 0.5em;
	border: thin solid red;
	overflow-x: hidden;
	overflow-y: scroll;
}

.danterest-chat-box {
	position: absolute;
	height   : 2em;
	left     : 1em;
	right    : 1em;
	bottom   : 1em;
	border   : thin solid #888;
	background : #888;
}

.danterest-chat-box input[type=text] {
	position: absolute;
	left:	0;
	width      : 75%;
	height     : 100%;
	padding : 0.5em;
	border   : thin solid red;
	background : #ddd;
	color : #404040;
}

.danterest-chat-box input[type=text]:focus {
	background : #fff;
}

.danterest-chat-box div {
	position: absolute;
	right: 0;
	width       : 25%;
  	height      : 2em;
  	line-height : 1.9em;
  	text-align  : center;
  	color       : green;
  	font-weight : 800;
  	cursor      : pointer;
}
/* End shell-chat */

/* Begin shell-foot */
.danterest-shell-foot {
	bottom: 0px;
	height: 40px;
	right:	0px;
	left:	0px;
}
/* End shell-foot */
